<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>

    <style>
        body {
            max-width: 88vw;
            margin: 2rem auto;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        th,
        td {
            border: 1px solid black;
            text-align: center;
        }

        .flex {
            display: flex;
        }

        .justify-end {
            justify-content: end;
        }

        .my-2 {
            margin-top: 10px;
        }

        #paginationData>a {
            margin-left: 10px;
        }
    </style>
</head>

<body>
    <a href="/employee-creation-form">Create</a>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Department</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <% paginationData.employees.forEach((employee)=> { %>
                <tr>
                    <td>
                        <%= employee.id %>
                    </td>
                    <td>
                        <%= employee.name %>
                    </td>
                    <td>
                        <%= employee.department %>
                    </td>
                    <td>
                        <a href="/employee-update-form/<%= employee.id %>">Edit</a>
                        <button style="border: none; background-color: white; color: blue; text-decoration: underline;"
                            onclick="onDelete(<%= employee.id %>)">Delete</button>
                    </td>
                </tr>
                <% }) %>
        </tbody>
    </table>
    <div id="paginationData" class="flex justify-end my-2">
        <% if (paginationData.hasPrevious) { %>
            <a href="?page=<%= paginationData.currentPage - 1 %>">Previous</a>
            <% } %>
                <% if (paginationData.hasNext) { %>
                    <a href="?page=<%= paginationData.currentPage + 1 %>">Next</a>
                    <% } %>
    </div>
</body>

<script>
    function onDelete(id) {
        fetch('http://localhost:8080/employee/' + id, { method: 'DELETE' }).then(() => window.location.href = "/").catch((err) => console.error(err));
    }
</script>

</html>